.middleA{
    display: flex;
    flex-direction: row;
    column-gap:3%;
    row-gap: 3%;    
    flex-wrap: wrap;
}
.bot{
    background-color: white;
    height: 190px;
    width: 182.0px;
    padding: 2%;
    display:flex;
    flex-wrap: wrap;
}     

.botA{
    display: flex;
    flex-direction: row;
    gap:10%;
}

.text{
    padding-left: 10%;
    font-size: 150%;
    flex-wrap: wrap;
    overflow: hidden;
    font-weight: lighter;
    margin-top: -85%;
    display: flex;
    align-items: center;
}

.midB{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:3%;
}

.bottom{
    width:61.9%;
    background-color: white;
    min-height: 1000px;
    padding: 2%;
    padding-left:10%;
}

.head{
    padding-top:3%;
    font-weight: 500;
    font-size: 100%;
}

.normal,.bullet{
    padding-top: 3%;
    font-size: 90%;
}

.abc{
    display:flex;
    flex-direction:row;
    column-gap:5%;
    padding-top: 5%;
    flex-wrap: wrap;
}

.first{
    width:180px;
    display: flex;
    flex-direction: row;
    height: 37px;
}

.sec{
    width: 100px;
    display: flex;
    flex-direction: row;
    height: 37px;
}

.third{
    width: 170px;
    display: flex;
    flex-direction: row;
    height: 37px;
    margin-left: -5%;
}

.black{
    color:white;
    padding: 1%;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: black;
}

.orange{
    background-color: orangered;
    color:white;
    padding: 1%;
    text-align: center;
    display: flex;
    align-items: center;
    width: 200px;
}

.hi{
    width:15%;
    border-radius: 40px 0px 0px 40px;
    background-color: orangered;
}

.he{
    width:15%;
    border-radius: 0px 40px 40px 0px;
    background-color: orangered;
    
}

.him{
    width:15%;
    border-radius: 40px 0px 0px 40px;
    background-color: black;
}

.her{
    width:15%;
    border-radius: 0px 40px 40px 0px;
    background-color: black;
    
}

.himj{
    width: 30%;
    height:20%;
}

.first:hover .orange,.hi,.he{
       color:black;
}

.sec:hover{
    color:red;
}

.details{
    display: flex;
    flex-direction: row;
}


@media(max-width:460px){
    .bottom{
        width:100%;
    }
    .third{
        margin-top: 10px;
        margin-left: 0%;
    }
    .sec{
        margin-top: 10px;
    }
    .bot{
        margin-top: 10px;
    }
    
}